<h1>Lydia's Cocktails#index</h1>
<!-- <p>Find me in app/views/cocktails/index.html.erb</p> -->

<div class="container">
  <h1>Your Cocktails</h1>
  <div class="cards">

    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo/HjWzkqW1dgI')">
          <%= cocktail.name %>
        </div>
      <% end %>

    <% end %>
  <%= link_to "Add New Cocktail", new_cocktail_path, class:"card" %>
  </div>
</div>

